<div th:fragment="content" data-page-title="AURA GAMES | Account Recovery">
    <form>

        <!-- EMAIL SECTION -->
        <div id="email-section" class="fade" style="padding: 25px 30px 25px 30px;">
            <h1 class="title"><span style="color:#9090A8;">ACCOUNT RECOVERY</span></h1>
            <br>
            <br>
            <div class="input-wrapper">
                <label class="input-label">EMAIL ADDRESS</label>
                <img class="input-icon" th:src="@{/images/email_icon.png}">
                <input class="text-input" type="email" name="email"
                       placeholder="username@domain.com" required>
            </div>
            <br>

            <p class="warning-text" id="emailWarningText"></p>

            <div style="display: flex; flex-direction: column;">
                <button class="confirm-button" id="send-code-btn" type="button" style="margin:0 0 15px 0;">SEND CODE</button>
                <button class="back-button" type="button" onclick="window.history.back()">← BACK</button>
            </div>

        </div>


        <!-- CONFIRMATION SECTION -->
        <div id="confirmation-section" class="fade hidden" style="display:none;">
            <h1 class="title">
                <span style="color:#8A3FFC;">V</span><span style="color:#E0218A;">ERIFY</span>
            </h1>
            <div style="font-family:Orbitron;font-size:9px;color:#ffffff85;letter-spacing:2px;">
                <p>We've sent a 6-digit code to your email.</p>
            </div>

            <p class="warning-text" id="confirmWarningText"></p>

            <div id="code-boxes" style="display:flex;gap:10px;justify-content:center;">
                <input class="code-box" type="text" maxlength="1" inputmode="numeric">
                <input class="code-box" type="text" maxlength="1" inputmode="numeric">
                <input class="code-box" type="text" maxlength="1" inputmode="numeric">
                <input class="code-box" type="text" maxlength="1" inputmode="numeric">
                <input class="code-box" type="text" maxlength="1" inputmode="numeric">
                <input class="code-box" type="text" maxlength="1" inputmode="numeric">
            </div>

            <button class="confirm-button" id="confirm-btn" type="button">CONFIRM →</button>

            <div class="resend-row">
                <span style="font-family:Orbitron;font-size:9px;color:#ffffff55;letter-spacing:1.5px;">
                    Didn't get the email?
                </span>
                <span id="resend-btn" class="resend-link">Resend</span>
            </div>

            <button class="back-button" id="back-to-email-btn" type="button">← BACK</button>
        </div>


        <!-- PASSWORD SECTION -->
        <div id="password-section" class="fade hidden" style="display:flex; flex-direction: column;">
            <h1 class="title"><span style="color:#9090A8;">NEW PASSWORD</span></h1>
            <br>
            <br>
            <p class="warning-text" id="passwordWarningText"></p>
            <br>
            <div class="input-wrapper">
                <label class="input-label">NEW PASSWORD</label>
                <img class="input-icon" th:src="@{/images/password_icon.png}">
                <input class="password-input" type="password" name="password"
                       placeholder="••••••••••••" required>
            </div>
            <br>
            <br>
            <button class="confirm-button" id="update-btn" type="button">UPDATE</button>
        </div>

    </form>

    <script th:src="@{/js/jquery-4.0.0.js}"></script>
    <script th:src="@{/js/jquery.easing.js}"></script>
    <script th:src="@{/js/account-recovery.js}"></script>
</div>