<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/login.css">
  </head>
  <body>
    <div class="container">

      <div class="left-container">
        <div class="header">
          <img src="../../static/images/logo.png" alt="aura_games_logo">
          <h1 class="logo-name">AURA</h1>
          <h2 class="logo-subtitle">NEXT-GEN GAMING PLATFORM</h2>
        </div>
      </div>
      
      <div class="right-container">
        <div class="wrapper">
          <div class="login-box">
            <form action="/login" method="POST">

                <div class="login-header">
                  <h1 class="login-title">
                    <span style="color:#8A3FFC;">A</span><span style="color:#E0218A;">URA</span>
                    <span style="color:#9090A8;"> GAMES</span>
                  </h1>

                  <p class="login-subtitle">
                    Welcome back gamers!
                  </p>
                </div>

                
              <div class="input-wrapper">
                <label class="input-label">EMAIL ADDRESS</label>
                <img class="input-icon" src="../../static/images/email_icon.png">
                <input class="text-input" type="text" placeholder="username@domain.com" required>
              </div>

              <div class="input-wrapper">
                <label class="input-label">PASSWORD</label>
                <img class="input-icon" src="../../static/images/password_icon.png">
                <input class="text-input" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" required>
              </div>

              <div class="options-row">
                <div class="toggle-button">
                  <label>
                    <input type="checkbox"> Remember Me?
                  </label>
                </div>
                <div>
                  <a class="forgot-password" href="https://www.youtube.com/results?search_query=two+black+guys+kissing" target="_blank">Forgot password?</a>
                </div>
              </div>   

              <div>
                <button class="login-button">LOGIN &#8594</button>
              </div>

              <div class="divider"><span>OR CONTINUE WITH</span></div>

              <div class="oauth-buttons">

                <div>
                  <img 
                    class="oauth-img" 
                    src="../../static/images/oauth_google.png" 
                    href=""
                  >
                </div>

                <div>
                  <img 
                      class="oauth-img" 
                      src="../../static/images/oauth_steam.png" 
                      href=""
                    >
                </div>

                <div>
                  <img 
                    class="oauth-img" 
                    src="../../static/images/oauth_discord.png" 
                    href=""
                  >
                </div>

              </div>
              <div style="font-family: Orbitron; font-size: 10px; color:#ffffff85; margin:0; padding:0; letter-spacing: 2px;">
                <p>No account yet?  <a class="register-now" href="https://www.youtube.com/results?search_query=two+black+guys+kissing" target="_blank">Register now.</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
