<div th:fragment="content">
    <form th:action="@{/login}" method="post">

        <div class="login-header">
            <h1 class="title">
                <span style="color:#8A3FFC;">A</span><span style="color:#E0218A;">URA</span>
                <span style="color:#9090A8;"> GAMES</span>
            </h1>

            <p class="subtitle"> WELCOME BACK GAMERS</p>
        </div>

        <div class="input-wrapper">
            <label class="input-label">EMAIL ADDRESS</label>
            <img class="input-icon" th:src="@{/images/email_icon.png}">
            <input class="text-input"
                    type="email"
                    name="username"
                    placeholder="username@domain.com"
                    required>
        </div>

        <div class="input-wrapper">
            <label class="input-label">PASSWORD</label>
            <img class="input-icon" th:src="@{/images/password_icon.png}">
            <input class="password-input"
                    type="password"
                    name="password"
                    placeholder="••••••••••••"
                    required>
        </div>

        <div class="options-row">
            <div class="check-box">
                <label>
                    <input type="checkbox"> Remember Me?
                </label>
            </div>

            <div>
                <a class="hyperlink-1" href="https://www.youtube.com/watch?v=1Uzw1Zr1FE4" target="_blank">
                    Forgot password?
                </a>
            </div>
        </div>

        <div>
            <button class="submit-button" type="submit">LOGIN →</button>
        </div>

        <div class="divider"><span>OR CONTINUE WITH</span></div>
        <div class="oauth-buttons">
            <div><img class="oauth-img" th:src="@{/images/oauth_google.png}"></div>
            <div><img class="oauth-img" th:src="@{/images/oauth_steam.png}"></div>
            <div><img class="oauth-img" th:src="@{/images/oauth_discord.png}"></div>
        </div>

        <div style="font-family: Orbitron; font-size: 10px; color:#ffffff85; letter-spacing: 2px;">
            <p>
                No account yet?
                <a class="hyperlink-3" 
                    hx-get="/register" 
                    hx-target="#auth-form-content"
                    hx-swap="innerHTML" 
                    href="/register">
                    REGISTER →.
                </a>
            </p>
        </div>

    </form>
</div>
