body {
  padding: 0;
  margin: 0;
  background-color: #0D0D11;

  display: flex;
  height: 100vh;
  overflow: hidden;

  z-index: 9999 !important; 
}

html {
  scrollbar-width: auto; 
  scrollbar-color: rgba(255, 255, 255, 0.534) rgba(140, 0, 255, 0.116);
}

html::-webkit-scrollbar {
  width: 4vw; 
}

html::-webkit-scrollbar-track {
  background-color: rgba(140, 0, 255, 0.116); 
  border-radius: 10px; 
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px; 
  border: 2px solid transparent; 
  background-clip: padding-box; 
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6); 
}



/* ============== SIDE BAR ====================*/
.sidebar-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0; 

  width: 17%;
  height: 100vh;

  margin: 0;
  padding: 0;

  background-color: rgba(0, 0, 0, 0.267);
}

.sidebar-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 10px 15px;
  margin: 0;

  color: rgba(255, 255, 255, 0.116);

  border-color: transparent;
  background-color: transparent;

  position: relative;
}

.sidebar-button:hover {
  background-color: #7a5eea15;
  cursor: pointer;
}

.sidebar-button.active {
  border-color: transparent;
  background-color: #7a5eea1f;
  cursor: default;
}

.sidebar-button.active::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #9B80F5;
}

.sidebar-icon {
  width: 30px; 
  height: 30px; 
  margin: 0 20px 0 15px;

  background-color: white;

  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.icon-dashboard     { 
  -webkit-mask-image: url('/images/dashboard-icon.svg');     
  mask-image: url('/images/dashboard-icon.svg'); 
}
.icon-products { 
  -webkit-mask-image: url('/images/product-icon.svg'); 
  mask-image: url('/images/product-icon.svg'); 
}
.icon-orders  { 
  -webkit-mask-image: url('/images/orders-icon.svg');  
  mask-image: url('/images/orders-icon.svg'); 
}
.icon-logout  { 
  -webkit-mask-image: url('/images/logout-icon.svg');  
  mask-image: url('/images/logout-icon.svg'); 
}

/* turn it purple when its parent button is active */
.sidebar-button.active .sidebar-icon {
  background-color: #9B80F5;
}

.sidebar-button p {
  padding: 0;
  margin: 0;

  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;

  color:white;
}


/* ============== PAGES CONTAINER ====================*/
.page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;

  outline: 2px solid rgba(255, 0, 0, 0) !important;
}

.page-header {
  flex: 0 0 auto;

  top: 0;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  z-index: 100 !important; 

  font-family: 'Orbitron';
  font-size: 20px;
  font-weight: 200;

  color: white;

  border: 1px solid transparent;
  border-image: linear-gradient(to right, rgba(255, 0, 119, 0.527), rgba(140, 0, 255, 0.527), rgba(25, 0, 255, 0.527)) 1;
  border-image-width: 0 0 2px 0;
  background-color: rgba(0, 0, 0, 0.199);

  margin: 0;
  padding: 30px 0 10px 40px;

  letter-spacing: 2px;
}



/* ========= CUSTOM DROP DOWN ============*/
.dropdown-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;

  gap: 10px;
}

.custom-dropdown {
  position: relative;
  width: 200px;
  height: 30px;

  font-family: 'DM Sans';
  font-weight: 600;
  font-size: 12px;
}

.dropdown-selected span, 
.dropdown-selected p,
.dropdown-selected div:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px; /* Keeps a small gap before the arrow icon */
}


.dropdown-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 14px;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  min-width: 0; 
}

.dropdown-arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid #888;
  border-bottom: 2px solid #888;
  transform: rotate(45deg);
  transition: transform 0.2s ease;
}

.custom-dropdown.open .dropdown-arrow {
  transform: rotate(-135deg);
}

.dropdown-options {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: max-height 0.2s ease, opacity 0.2s ease;
  z-index: 50;

    /* FORCE TRUNCATION AND ADD ELLIPSIS (...) */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-dropdown.open .dropdown-options {
  max-height: 400px;
  opacity: 1;
  overflow-y: auto;
  pointer-events: auto;
}

.dropdown-option {
  padding: 5px 14px;
  color: #ccc;
  cursor: pointer;
}

.dropdown-option:hover {
  background: #2a2a2a;
}

.dropdown-option.selected {
  background: #333;
  color: #fff;
}

.dropdown-option.deprecated {
  text-decoration: line-through;
  opacity: 0.55;
}

.dropdown-label {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.50);
}

.order-search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: text;
  color: #fff;
  min-width: 0; 
  font-family: 'DM Sans';
  width: 200px;
  flex: 1 1 160px;
}



/* ========= CUSTOM PAGE NAVIGATOR ============*/
.pagenav-button {
  width:100px;
  height: 30px;

  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(247, 6, 255, 0.699);

  border: 1px solid currentColor;
  border-radius: 5px;

  box-sizing: border-box;

  transition: all 0.1s ease;
}

.pagenav-button:hover {
  cursor: pointer;
  background-color:rgba(59, 0, 65, 0.418);
  color: rgba(247, 6, 255, 0.8);
  box-shadow: 0 0 10px rgba(140, 0, 255, 0.4);
}

.pagenav-button:active {
  cursor: pointer;
  background-color:rgba(140, 0, 255, 0.2);
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(204, 0, 255, 0.384);
}

.pagenav-button:disabled {
  cursor: default !important;
  background-color:rgba(0, 0, 0, 0.2) !important;
  color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: none !important;
}

.pagenav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: 'DM Sans';
  font-weight: 300;
  font-size: 12px;
  color: white;

  min-height: 50px;
  
  box-sizing: border-box;

  padding: 0 50px;
}

.pagenav-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.pagenav-display input {
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);

  width: 30px;
  height: 30px;

  box-sizing: border-box;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.308);

  color: white;
  text-align: center;
}


/* ================ INPUTS ==================== */
.input-wrapper {
  position: relative;
  width: auto;
  margin:0;
  padding:0;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 30%;

  width: 16px;
  height: 16px;
  opacity: 1;
  pointer-events: none;
}

.search-input {
  width: 325px;
  padding: 12px 12px 12px 40px;
  
  border-radius: 50px;
  border: 1px solid #ffffff1c;

  background: #16161F;
  outline: none;
  box-sizing: border-box;
  color: white;
}

.search-input::placeholder {
  left: 5px; 
  color: #5A5A7A;
  height: 40px;
  line-height: 40px;

  font-family: "DM Sans";
  font-size: 13px;
}