body {
  margin: 0;
  padding: 0;
  background: transparent;
}

/* ----------------- Wrapper Defaults ----------------- */
.popular-games-wrapper,
.cta-wrapper,
.all-games-wrapper,
.footer-wrapper,
.landing-screen-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  z-index: 1;
  padding-block: 10px;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.grid-wrapper {
  width:100%;
  align-self: center;
}

.header-text {
  font-family: 'Orbitron'; 
  font-weight: 20px; 
  color: white;
  margin: 0;
  padding: 0;
}

.special-text {
  margin:0;

  background: linear-gradient(to right,rgb(153, 0, 255), rgb(161, 20, 255), rgb(255, 0, 242), rgb(255, 151, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 10px #ff00d46c;
}

.text-1 {
  font-family: 'DM Sans'; 
  font-size: 16px; 
  color: #A0A0C0; 
  padding: 0; 
  margin: 0;
}

/* ----------------- Grid ----------------- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: space-between;
  gap: 20px;
}

.grid-item {
  width: 250px;
  height: 280px;

  border: 1px solid rgba(255, 255, 255, 0.308);
  border-radius: 15px;

  display: block;
  overflow: hidden;
  align-content: top;

  transition: 0.2s all ease;
}

.grid-item:hover, 
.grid-item:active {
  transform: translateY(-5px);
  z-index:10;
}

.grid-item:hover {
  box-shadow: 0 0 70px rgba(0, 153, 255, 0.3);
}

.grid-item:active {
  box-shadow: 0 0 70px rgba(0, 153, 255, 0.5);
}

.grid-image {
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.grid-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding-inline: 10px;
}

.grid-title {
  width:70%;
  margin: 10px 0px 10px 0px;

  font-family: "DM Sans";
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.grid-icon-wrapper {
  display:flex;
  gap:5px;
  align-items: flex-end;
}

.grid-icon {
  width: 12px;
  height: 12px;
  margin: 10px 0px 10px 0px;

  padding: 5px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;

  background-color: #7B5EEA15;
}

.grid-item-placeholder {
  width: 250px;
  height: 280px;

  border: 1px solid rgba(255, 255, 255, 0.082);
  border-radius: 15px;

  overflow: hidden;
  position: relative;

  background-color: transparent;
}

.grid-item-placeholder::after {
  content: "";
  position: absolute;

  left: 0;
  top: 100%;
  width: 100%;

  height: 400px; 
  filter: blur(10px);

  background: linear-gradient(
    to top,
    transparent,
    rgba(212, 120, 255, 0.055),
    transparent
  );

  animation: vertical-shimmer 1s linear infinite;
}

@keyframes vertical-shimmer {
  0% {
    top: 150%;
  }
  100% {
    top: -150%;
  }
}



/* ----------------- Landing Page ----------------- */
.landing-screen-wrapper {
  background-image: url("/images/landing_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
}

.landing-screen-box {
  width: 70%;

  display: flex;
  box-sizing: border-box;
  gap: 200px;
  padding: 0 20px;
}

.landing-screen-left,
.landing-screen-right {
  margin: 0;
  padding: 0px;

  width: 700px;
  height: auto;
}

.landing-screen-left {
  padding-left: 20px;
}

.button-shop {
  width: fit-content;
  font-size: 16px;
  padding: 10px 60px 10px 60px;
}

.button-register {
  font-size: 16px;
  margin-left:350px; 
  width: 300px;
}

.boxed-text {
  width: fit-content;
  height: fit-content;
  padding: 6px 15px 6px 15px;
  margin: 0px;

  border: 1px solid #9b80f55b;
  border-radius: 25px;
  font-size: 12px;
  font-family: "DM Sans";

  background-color: #7B5EEA30;
  color: #9B80F5;
}

.hero-image {
  border:0; 
  border-radius: 25px; 
  box-shadow: 0 0 40px rgba(255,255,255,0.3);
}



/* ----------------- Popular Games ----------------- */
.popular-games-wrapper {
  min-height: 45vh;
  background-color: #08000f;  
  justify-content: center;
}

.popular-games-box {
  width: 70%;
  display: flex;          
  flex-direction: column;
  padding-block: 40px;
}



/* ----------------- All Games  ----------------- */
.all-games-wrapper {
  min-height: 100vh;
  background-color: #111118;
  justify-content: center;
}

.all-games-box {
  width: 70%;
  display: flex;          /* ← was block */
  flex-direction: column;
  padding-block: 40px;
}




/* ----------------- CTA Section ----------------- */
.cta-wrapper {
  background-image: url("/images/cta_banner.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  min-height: 250px;
  justify-content: center;

  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: rgba(255, 255, 255, 0.1);
}

.cta-box {
  width: 70%;
  display: flex;          
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.cta-text {
  padding: 0;
  margin: 0;
  width:auto;
  text-align: left;
}
 


/* ----------------- Footer Section ----------------- */
.footer-wrapper {
  background-color: #09090e;
  min-height: 25vh;
  justify-content: center;
}

.footer-box {
  width: 60%;
}

.footer-text {
  padding: 0;
  margin: 0;
  width:auto;
  text-align: left;
}