.title {
  font-family: "Orbitron";
  margin: 0;
  line-height: 1;
  font-size:27px;
}

.subtitle {
  margin: 0;
  font-family: "Orbitron";
  font-weight: 400;
  font-size: 10px;
  color: #9090A8;
  line-height: 1.2;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin:0;
  padding:0;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;

  width: 16px;
  height: 16px;
  opacity: 1;
  pointer-events: none;
}

.input-label {
  font-family: "Orbitron";
  font-size: 9px;
  font-weight: 700;
  color: #8d8dbb;
  margin-bottom: 5px;
  display: block;
  opacity: 0.8;

  text-align: left;
  letter-spacing: 2px;
}

.text-input {
  width: 100%;
  padding: 10px 12px 10px 40px;
  border-radius: 8px;
  border: 1px solid #ffffff3d;
  background: rgba(255, 255, 255, 0.089);
  outline: none;
  box-sizing: border-box;
  color: white;
}

.text-input::placeholder{
  left: 5px; 
  color: #50506A;
  height: 40px;
  line-height: 40px;
}

.strength-bar-container {
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 99px;
  padding:0;
  margin:0;
}

.strength-bar {
  height: 100%;
  width: 0%; /* change this to test */
  border-radius: 99px;
  background-color: #006b05;
}

.requirement-row {
  display: flex;
  justify-content: flex-end;

  align-items: center;
  gap: 5px;
}

.requirement-box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  height: 15px;


  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: #ffffff23;

  background-color: #ffffff11;

  color: rgba(255, 255, 255, 0.466);
  font-family: "Orbitron";
  font-size:9px;

  text-align: center;
  padding-right: 8px;
  padding-left: 8px;
}

.requirement-strength{
  flex:1;
  margin:0;

  color: rgba(255, 255, 255, 0.466);
  font-family: "Orbitron";
  font-size:9px;

  text-align: left;
  letter-spacing: 1.5px;
}

.check-box {
  white-space: nowrap;
  display: inline-block;
  width: 100px;
  font-size: 12px;
  font-family: Arial;
}

.check-box label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
}

.hyperlink-1 {
  font-size: 12px;
  font-family: Arial;
}

@property --color-1 {
  syntax: '<color>';
  initial-value: rgb(161, 20, 255);
  inherits: false;
}

@property --color-2 {
  syntax: '<color>';
  initial-value: rgb(255, 0, 200);
  inherits: false;
}

.submit-button {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1;
  border-color: #ffffff00;
  outline: none;

  font-family: orbitron;
  font-size: 12px;
  color: white;
  letter-spacing: 2px;

  box-sizing: border-box;
  --color-1: rgb(161, 20, 255);
  --color-2: rgb(255, 0, 200);

  background: linear-gradient(to right, var(--color-2), var(--color-1));


  
  transition: 
    --color-1 0.1s,
    --color-2 0.1s,
    border-color 0.1s;
}

.submit-button:hover{
  --color-2: rgb(170, 44, 255);
  --color-1: rgb(255, 52, 211);
  border-color: #ffffff4b;
  cursor: pointer;

}

.divider {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #626281;
  font-family: "Orbitron";
  font-weight: 700;
  font-size: 9px;

  padding-top: 20px;
  padding-bottom: 5px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #626281;
  opacity: 0.4;
}

.oauth-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.oauth-img {
  width: 100px;
  height: 35px;

  border-color: rgba(255, 255, 255, 0.123);
  border-radius: 10px;

  background-color: #ffffff00;

  transition: background-color 0.1s;
}

.oauth-img:hover {
  background-color: #ffffff11;
  cursor: pointer;
}

.hyperlink-1,
.hyperlink-2 {
  color: #8d8dbb;
}

.hyperlink-1:hover,
.hyperlink-2:hover {
  color: rgb(167, 167, 216);
}

