<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Aura Games | Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Baloo+2:wght@400..800&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Baloo+2:wght@400..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/home.css}">
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar" id="navbar">
      <div class ="home-wrapper" id="homeBtn">
        <img th:src="@{/images/logo.png}" alt="aura-games-logo" style="width: 75px; height:75px;" id="aura-games-logo">
        <h2  id="aura-games-title"
            style="margin: 0px;
            width:150px; 
            height:75px; 
            display:flex; 
            align-items:center; 
            justify-content:center; 
            font-family:'Orbitron'; 
            font-size:20px;color: 
            rgb(255, 255, 255);"
            >
          Aura Games
        </h2>
      </div>

      <div class="input-wrapper" id="homeBtn">
        <img class="input-icon" th:src="@{/images/search_icon.png}">
          <input class="search-input" 
                  type="text"
                  name="search"
                  placeholder="Search games, categories, keys…"
                  
                  style="margin-right: 250px;">
      </div>


      <button class="button2" style="margin-right: 18px;">
        <img th:src="@{/images/notif_icon.png}" alt="notif-icon" style="width: 20px; height: 20px;">
      </button>

      <button class="button1" style="display:flex; align-items:center; justify-content:center;">

        <div style="width:14px; height:9px; border:2.5px solid white;
                    border-radius:25%; transform: translateY(-1px);
                    margin-right: 7px;">
        </div>

        <!-- Logged out -->
        <span sec:authorize="!isAuthenticated()" id="authBtn">
            LOGIN / SIGNUP
        </span>

        <!-- Logged in -->
        <span sec:authorize="isAuthenticated()" id="profileBtn">
        </span>

      </button>
    </div>

    <!-- Header and Stuff -->
    <div class="landing-screen-wrapper center-content">
      <div class="landing-screen-box">
        <div class="landing-screen-right">

          <div class="boxed-text">  
            <p style="margin: 0px; padding: 0px">⚡ FAST • SECURE • RELIABLE</p>
          </div>

          <h1 style="font-family: 'Orbitron'; font-size: 60px; color: white; margin-top: 10px;">
            Top Up Your
            Favorite Games
            <span class="special-text">Instantly</span>
          </h1>

          <p style="font-family: 'DM Sans'; font-size: 18px; color: white;">
            Purchase game credits, points, and currencies for popular titles with fast and secure transactions.
          </p>

          <button class="button1 button-shop" id="shopBtn">
            <img th:src="@{/images/play_icon.svg}" alt="hero-image" style="transform: translateX(-10px); ">
            Shop Now
          </button>
        </div>

        <div class="landing-screen-right">
          <img class="hero-image" th:src="@{/images/hero_image.png}" alt="hero-image">
        </div>
        
      </div>

    </div>
   

    <!-- Popular Games -->
    <div class="popular-games-wrapper">
      <div class="popular-games-box" id="popular-games">
        <h1 style="font-size: 30px; font-family: 'Orbitron'; font-weight: 20px; color: white;">⭐ POPULAR GAMES</h1>

        <!-- List of Games -->
        <div class="grid-wrapper">

          <div class="grid-container" id="popular-games-grid">
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>
          </div>

        </div>
      </div>
    </div>

    <!-- All Games -->
    <div class="all-games-wrapper">
      <div class="all-games-box" id="all-games">
        <h1 style="font-size: 30px; font-family: 'Orbitron'; font-weight: 20px; color: white;">ALL GAMES</h1>

        <!-- List of Games -->
        <div class="grid-wrapper">

          <div class="grid-container" id="all-games-grid">
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>
            <div class="grid-item-placeholder"></div>

          </div>

      </div>
    </div>

    <!-- Bottom Page -->
    <div class="bottom-page-box" id="bottom-page">

    </div>

    <html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>  
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script th:src="@{/js/jquery-4.0.0.js}"></script>
    <script th:src="@{/js/jquery.easing.js}"></script>
    <script th:src="@{/js/home.js}"></script>
  </body>
</html>